*{
    margin: 0;
    padding: 0%;
}

body{
    background-color: rgba(44, 77, 51, 0.747);
    background-image: url(https://i2-prod.mirror.co.uk/incoming/article24845073.ece/ALTERNATES/s615b/0_GettyImages-1314972402.jpg);
    background-blend-mode:multiply;
    
}


.input{
    text-align: center;
    margin-top: 10%;
    
    
    
    
    
    
}
p{
    text-align: center;
}

.circle{
    text-align: center;
    font-size:x-large;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: beige;
    background-color: rgb(135, 181, 219);
    
}
.myButton {
	box-shadow:inset 0px -3px 7px 0px #29bbff;
	background:linear-gradient(to bottom, #2dabf9 5%, #0688fa 100%);
	background-color:#2dabf9;
	border-radius:3px;
	border:1px solid #0b0e07;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	padding:9px 23px;
	text-decoration:none;
	text-shadow:0px 1px 0px #263666;
}
.myButton:hover {
	background:linear-gradient(to bottom, #0688fa 5%, #2dabf9 100%);
	background-color:#0688fa;
}
.myButton:active {
	position:relative;
	top:1px;
}



.try{
    align-items: center;
    margin: 40px;
   
}
#sayi1,#sayi2,#sayi3,#sayi4,#sayi5,#sayi{
    color: white;
    -webkit-text-stroke: 1px black;
    font-size: xx-large;
}








